/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.75rem;
    --page-bg: linear-gradient(180deg, #f7ffff 0%, #e0f5f5 34%, #ecd8ff 100%);
    --profile-page-bg: radial-gradient(
      ellipse 2384.258322554502px 2814.3875072254923px at 52.49999701025544px
        20.50004503339869px,
      #edd7ffff 0%,
      #d7e9ffff 47%,
      #d7eaffff 47%,
      #dafdfbff 83%
    );
  }
}

/* More styles */
* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #ca9eff4c transparent;
}

.welcome_text {
  background: linear-gradient(180deg, #d39aff 0%, #9bb1ff 69.94%, #929dff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome_card {
  background: linear-gradient(
    180deg,
    #fff 0%,
    #fff 0.01%,
    rgba(246, 252, 255, 0.77) 49.6%,
    rgba(250, 253, 255, 0.88) 100%
  );
  box-shadow: 0px 4px 15.2px 0px rgba(0, 0, 0, 0.06);
}

.custom_button {
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: linear-gradient(
    180deg,
    rgba(239, 249, 255, 0.68) 0%,
    rgba(245, 251, 255, 0) 100%
  );
  box-shadow: 0px 4px 15.8px 0px rgba(0, 0, 0, 0.06), -7px -6px 9.3px 0px #fff;
  backdrop-filter: blur(31.049999237060547px);
}

.background_img_register_page {
  background-image: url("/bg/register_page_bg.png");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(211, 211, 211, 0.5);
}

.background_color_register_page {
  background: radial-gradient(
    79.27% 70.92% at 52.4% 56.18%,
    #daabff 0%,
    #e1fbff 100%
  );
}

.register_button {
  background: linear-gradient(180deg, #cabdff 0%, #c6abff 0.01%, #b94bff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.register_card_bg {
  border: 1px solid rgba(153, 105, 255, 0.27);
  background: rgba(200, 192, 255, 0.23);
  backdrop-filter: blur(17.549999237060547px);
}

.register_input_name {
  border-radius: 8px;
  border: 1px solid rgba(165, 133, 255, 0.59);
  background: rgba(182, 172, 248, 0.28);
  box-shadow: 0px 4px 14.1px 0px rgba(0, 0, 0, 0.06);
}

.register_input_info {
  border-radius: 8px;
  border: 1px solid rgba(168, 116, 251, 0.15);
  background: rgba(236, 236, 236, 0.86);
  box-shadow: -3px -3px 9.3px 0px rgba(255, 255, 255, 0.48),
    0px 1px 10.2px 0px rgba(0, 0, 0, 0.11);
}

.auth_variant_button {
  border-radius: 66px;
  border: 1px solid rgba(172, 122, 255, 0.1);
  background: #ce82ff;
  box-shadow: 0px 4px 15.8px 0px rgba(126, 88, 175, 0.24);
  color: white;
}

.auth_variant_button_2 {
  border-radius: 66px;
  border: 1px solid rgba(122, 191, 255, 0.1);
  background: #7b9fe1;
  box-shadow: 0px 4px 15.8px 0px rgba(126, 88, 175, 0.24);
  color: white;
}

.background_color_login_page {
  background: radial-gradient(
    79.27% 70.92% at 52.4% 56.18%,
    #daabff 0%,
    #e1fbff 100%
  );
}

.login_card_bg {
  border-radius: 50px;
  border: 1px solid rgba(105, 246, 255, 0.27);
  background: rgba(202, 255, 255, 0.16);
  box-shadow: 0px 4px 16.5px 0px rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(17.549999237060547px);
}

.login_text {
  background: linear-gradient(
    180deg,
    #8aa2e2 0%,
    #94d7ec 0.01%,
    #5c8ed6 57.96%,
    #7ca0e1 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user_company_bg {
  background: var(--page-bg);
}

.employee_card_bg {
  background: linear-gradient(
    180deg,
    #fff 0%,
    #fff 0.01%,
    rgba(246, 252, 255, 0.77) 49.6%,
    rgba(250, 253, 255, 0.88) 100%
  );
  box-shadow: 0px 9.923px 49.4px -29px rgba(0, 0, 0, 0.4);
}

.button_add_new_user {
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    #fff 0%,
    #fff 0.01%,
    rgba(246, 252, 255, 0.77) 49.6%,
    rgba(250, 253, 255, 0.88) 100%
  );
  box-shadow: 0px 9.923px 39.692px -32px rgba(0, 0, 0, 0.39);
}

.week_days_card {
  background: linear-gradient(180deg, #f2fcfc 0%, #f2fcfc 100%);
  box-shadow: 3px 5px 5.9px -1px rgba(0, 0, 0, 0.14), -3px -5px 11.3px 0px #fff;
}

.feedback_button {
  box-shadow: -2.18px -2.18px 6.54px 0 rgba(255, 255, 255, 1),
    2.18px 2.18px 6.54px 0 rgba(174, 174, 192, 0.4);
}

.profile_bg {
  background-image: linear-gradient(
    114deg,
    #ffff 0%,
    #ffff 0%,
    #f6fcffc4 50%,
    #80e0ffc5 50%,
    #fafdffe0 100%
  );
  /* box-shadow: 0px 0px 11px 0px #00000014; */
}

.page_profile_bg {
  background-image: var(--profile-page-bg);
}

.profile_input_settings {
  box-shadow: 2.1789px 2.1789px 6.5368px 0px #aeaec066,
    -2.1789px -2.1789px 6.5368px 0px #fff;
}
